/*Agregamos un fondo*/

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url("../imagenes/fondo\ de\ menu\ chido.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}